# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [16]:
# your code here
orders = pd.read_csv('./orders.csv')
orders.shape
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [57]:
#Agrupar la tabla según el dinero gastado por cada CustomerID, ordenados de forma descendente de mayor a menor.

x = orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False)
display(x)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60767.90
13089     58825.83
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
15749     44534.30
12931     42055.96
17841     40991.57
15098     39916.50
13798     37153.85
16013     37130.60
16422     34684.40
12748     33719.73
15838     33643.08
17404     31906.82
           ...
14589        39.75
12977        39.24
16659        39.12
18019        38.45
12855        38.10
16162        37.40
17816        36.56
15940        35.80
17831        35.40
16856        35.40
14576        35.40
15744        34.80
16765        34.00
17408        32.65
13120        30.60
15657        30.00
18268        25.50
17102        25.50
17986        20.80
16953        20.80
16093        17.00
13307        15.00
17763        15.00
15823        15.00
16878        13.30
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [58]:
x.quantile(0.95)
x.quantile([0.75, 0.95])

0.75    1661.640
0.95    5840.182
Name: amount_spent, dtype: float64

In [83]:
new_orders = pd.DataFrame ()
new_orders ['amount_spent'] = x

def Labels(y):
    if y >= x.quantile(0.95):
        return "VIP" 
    elif y >= x.quantile(0.75):
        return "Preferred"
    else:
        return "Others"

new_orders['Labels']= new_orders['amount_spent'].apply(Labels)

In [86]:
new_orders['Labels'].value_counts()

Others       3254
Preferred     868
VIP           217
Name: Labels, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [102]:
# your code here

x = new_orders.merge(orders[['CustomerID','Country']], left_on= 'CustomerID', right_on= 'CustomerID')

x.drop_duplicates(inplace=True)
display(x)

        CustomerID  amount_spent  Labels         Country
0            14646     280206.02     VIP     Netherlands
2080         18102     259657.30     VIP  United Kingdom
2511         17450     194550.79     VIP  United Kingdom
2848         16446     168472.50     VIP  United Kingdom
2851         14911     143825.06     VIP            EIRE
8528         12415     124914.53     VIP       Australia
9244         14156     117379.63     VIP            EIRE
10644        17511      91062.38     VIP  United Kingdom
11607        16029      81024.84     VIP  United Kingdom
11849        12346      77183.60     VIP  United Kingdom
11850        16684      66653.56     VIP  United Kingdom
12127        14096      65164.79     VIP  United Kingdom
17238        13694      65039.62     VIP  United Kingdom
17806        15311      60767.90     VIP  United Kingdom
20185        13089      58825.83     VIP  United Kingdom
22003        17949      58510.48     VIP  United Kingdom
22073        15769      56252.72     VIP  United Kingdom
22203        15061      54534.14     VIP  United Kingdom
22606        14298      51527.30     VIP  United Kingdom
24243        14088      50491.81     VIP  United Kingdom
24832        15749      44534.30     VIP  United Kingdom
24842        12931      42055.96     VIP  United Kingdom
24924        17841      40991.57     VIP  United Kingdom
32771        15098      39916.50     VIP  United Kingdom
32774        13798      37153.85     VIP  United Kingdom
33123        16013      37130.60     VIP  United Kingdom
33262        16422      34684.40     VIP  United Kingdom
33631        12748      33719.73     VIP  United Kingdom
38227        15838      33643.08     VIP  United Kingdom
38394        17404      31906.82     VIP          Sweden
...            ...           ...     ...             ...
397345       16257         46.95  Others  United Kingdom
397347       14080         45.60  Others  United Kingdom
397351       15423         43.50  Others  United Kingdom
397353       14300         43.20  Others  United Kingdom
397356       15992         41.99  Others  United Kingdom
397359       15178         40.50  Others  United Kingdom
397362       14589         39.75  Others  United Kingdom
397365       12977         39.24  Others  United Kingdom
397374       16659         39.12  Others  United Kingdom
397376       18019         38.45  Others  United Kingdom
397381       12855         38.10  Others  United Kingdom
397384       16162         37.40  Others  United Kingdom
397386       17816         36.56  Others  United Kingdom
397403       15940         35.80  Others  United Kingdom
397404       17831         35.40  Others  United Kingdom
397406       15744         34.80  Others  United Kingdom
397409       16765         34.00  Others  United Kingdom
397410       17408         32.65  Others  United Kingdom
397412       13120         30.60  Others  United Kingdom
397413       15657         30.00  Others  United Kingdom
397414       18268         25.50  Others  United Kingdom
397415       17986         20.80  Others  United Kingdom
397416       16093         17.00  Others  United Kingdom
397417       13307         15.00  Others  United Kingdom
397418       16878         13.30  Others  United Kingdom
397421       17956         12.75  Others  United Kingdom
397422       16454          6.90  Others  United Kingdom
397424       14792          6.20  Others  United Kingdom
397426       16738          3.75  Others  United Kingdom
397427       13256          0.00  Others  United Kingdom

[4295 rows x 4 columns]

United Kingdom          3872
Germany                   92
France                    87
Spain                     29
Belgium                   25
Switzerland               21
Portugal                  19
Italy                     14
Finland                   12
Austria                   11
Norway                    10
Channel Islands            9
Denmark                    9
Netherlands                9
Australia                  9
Sweden                     8
Japan                      8
Cyprus                     8
Poland                     6
Greece                     4
Canada                     4
USA                        4
Unspecified                4
EIRE                       3
Israel                     3
Malta                      2
United Arab Emirates       2
Bahrain                    2
Lebanon                    1
Brazil                     1
Saudi Arabia               1
Singapore                  1
RSA                        1
Iceland                    1
Czech Republic             1
Lithuania                  1
European Community         1
Name: Country, dtype: int64

In [106]:
x['Country'].loc(x['Labels']=='VIP').value_counts()

TypeError: 'Series' objects are mutable, thus they cannot be hashed

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here