In [2]:
import pandas as pd

In [3]:
file = pd.read_csv("Orders.csv")

In [5]:
data = pd.DataFrame(file)
data.head(50)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60
31,31,536370,10002,2010,12,3,8,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.80
32,32,536370,21791,2010,12,3,8,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.00
33,33,536370,21035,2010,12,3,8,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France,53.10
34,34,536370,22326,2010,12,3,8,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France,70.80
35,35,536370,22629,2010,12,3,8,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80
36,36,536370,22659,2010,12,3,8,lunch box i love london,24,2010-12-01 08:45:00,1.95,12583,France,46.80
37,37,536370,22631,2010,12,3,8,circus parade lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80
38,38,536370,22661,2010,12,3,8,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France,17.00
39,39,536370,21731,2010,12,3,8,red toadstool led night light,24,2010-12-01 08:45:00,1.65,12583,France,39.60
40,40,536370,22900,2010,12,3,8,set 2 tea towels i love london,24,2010-12-01 08:45:00,2.95,12583,France,70.80
41,41,536370,21913,2010,12,3,8,vintage seaside jigsaw puzzles,12,2010-12-01 08:45:00,3.75,12583,France,45.00
42,42,536370,22540,2010,12,3,8,mini jigsaw circus parade,24,2010-12-01 08:45:00,0.42,12583,France,10.08
43,43,536370,22544,2010,12,3,8,mini jigsaw spaceboy,24,2010-12-01 08:45:00,0.42,12583,France,10.08
44,44,536370,22492,2010,12,3,8,mini paint set vintage,36,2010-12-01 08:45:00,0.65,12583,France,23.40
45,45,536370,POST,2010,12,3,8,postage,3,2010-12-01 08:45:00,18.00,12583,France,54.00
46,46,536371,22086,2010,12,3,9,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00
47,47,536372,22632,2010,12,3,9,hand warmer red polka dot,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10
48,48,536372,22633,2010,12,3,9,hand warmer union jack,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10
49,49,536373,85123A,2010,12,3,9,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30

In [16]:
gasto_cliente = data.groupby('CustomerID').sum().amount_spent

In [17]:
clientes = pd.DataFrame(gasto_cliente)

In [18]:
clientes.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [20]:
def Labels(y):
    if y >= gasto_cliente.quantile(0.95):
        return "VIP" 
    elif y >= gasto_cliente.quantile(0.75):
        return "Preferred"
    else:
        return "Others"

clientes['Labels']= clientes['amount_spent'].apply(Labels)

In [21]:
clientes.head()

            amount_spent     Labels
CustomerID
12346           77183.60        VIP
12347            4310.00  Preferred
12348            1797.24  Preferred
12349            1757.55  Preferred
12350             334.40     Others

In [23]:
new_clients = clientes.drop_duplicates()

In [29]:
#2

clientes['Country'] = data['Country']
clientes.head()

            amount_spent     Labels         Country
CustomerID
12346           77183.60        VIP  United Kingdom
12347            4310.00  Preferred  United Kingdom
12348            1797.24  Preferred  United Kingdom
12349            1757.55  Preferred  United Kingdom
12350             334.40     Others  United Kingdom

In [31]:
clientes['Country'].loc[clientes['Labels']=="VIP"].value_counts()

United Kingdom    191
France              6
Germany             6
Norway              6
EIRE                3
Spain               2
Portugal            2
Japan               1
Name: Country, dtype: int64

In [34]:
clientes['Country'].loc[clientes['Labels']==["VIP","Preferred"]].value_counts()

ValueError: Lengths must match to compare